{% extends 'base.html.twig' %}

{% block title %}16Personalities{% endblock %}

{% block body %}

    <div class="welcome-top">

        <div class="image-wrapper">
            <img  src="../img/team.png">
        </div>

        <div class="text-wrapper">
            <h2 class="left">СВЯЖИТЕСЬ С НАМИ</h2>
            <p>Пожалуйста, не стесняйтесь, и присылайте нам ваши вопросы, комментарии или предложения, - мы читаем каждое письмо, и хотели бы услышать ваши мнения. Извините, но в данный момент мы можем отвечать только на сообщения на английском языке.</p>
            <p><a class="email-link" href="mailto:support@16personalities.com">support@16personalities.com</a></p>
            <h3>Здесь может быть форма</h3>
        </div>
        <div class="clear"></div>
    </div>

{% endblock %}
