{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <img src="../img/{{ personality.slidename|e }}">

        <h1 class="title">
            ЛИЧНОСТЬ «{{ personality.title }}»
        </h1>

        <h2 class="code">
            {{ personality.code }}
        </h2>

        <div class="content">
            {{ personality.content|raw }}
        </div>

{% endblock %}
