{% extends 'base.html.twig' %}

{% block title %}16Personalities{% endblock %}

{% block body %}

    <div class="welcome-top">

        {{ getTreeComments(personality.comments, 0) }}

     </div>

{% endblock %}
