<form method="post" action="{{ path('personality_delete', {'id': personality.id}) }}" onsubmit="return confirm('Вы уверенны, что хотите удалить описание для этой личности?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personality.id) }}">
    <button class="btn btn-action-del">Удалить</button>
</form>
