{% extends 'base.html.twig' %}

{% block title %}Редактировать Личность{% endblock %}

{% block body %}
<div class="welcome-top">
    <h2 class="padt20">Редактировать Личность</h2>

    {{ include('personality/_form.html.twig', {'button_label': 'Изменить' }) }}

    <div class="btns-footer">
        <a href="{{ path('personality_index') }}" class="btn btn-action-2 left"><<< Вернуться к списку</a>


        {{ include('personality/_delete_form.html.twig') }}

    </div>

    <div class="clear"></div>
</div>
{% endblock %}
