{% extends 'base.html.twig' %}

{% block title %}Edit Personality{% endblock %}

{% block body %}
    <h1>Edit Personality</h1>

    {{ include('personality/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('personality_index') }}">back to list</a>

    {{ include('personality/_delete_form.html.twig') }}
{% endblock %}
