{% extends 'base.html.twig' %}

{% block title %}Создать Личность{% endblock %}

{% block body %}
    <h2 class="padt20">Создать новую Личность</h2>

    {{ include('personality/_form.html.twig') }}

    <div class="btns-footer">
        <a href="{{ path('personality_index') }}" class="btn btn-action-2 left"><<< Вернуться к списку</a>
    </div>
{% endblock %}
